.container { position:relative; padding:0 0 0 55px; }

#header_line {
	position: absolute;
	top:0; left:0;
    height: 4px;
    background-color: #567FCE;
    width:100%;
    margin: 0 0 5px 0;
}

#sidebar {
    position:absolute;
    top:10px; bottom:0; left:15;
    width:50px;
    font-family: Verdana, Geneva, sans-serif;
}

#content {;
    margin:37px 0px 0px 100px;
    width: 35%;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#sidebar a:link {
    text-decoration: none;
}

#sidebar a:visited {
    text-decoration: none;
}