<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="{{site.url}}/site.css">
		<link rel="shortcut icon" type="image/x-icon" href="{{site.url}}/assets/favicon.ico" />
		<link href='http://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow' rel='stylesheet' type='text/css'>
		<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52560001-1', 'auto');
  ga('send', 'pageview');

	</script>
	</head>
	<body>
		
		<div id="container">
			<div id="header_line"></div>
			<div id="sidebar">
				<a href="{{site.url}}/"><img src="{{site.url}}/assets/web_logo.png" alt="" height="32" width="32" id="site-logo"></a>
				<a class="sb_text" href="{{site.url}}/">
					{% if page.type == "me" %}
						<b>me</b>
					{% else %}
						me
					{% endif %}
				</a>
				<a class="sb_text" href="{{site.url}}/projects.html">
					{% if page.type == "projects" %}
						<b>projects</b>
					{% else %}
						projects
					{% endif %}
				</a>
				<a class="sb_text" href="{{site.url}}/thoughts.html">
					{% if page.type == "thoughts" %}
						<b>thoughts</b>
					{% else %}
						thoughts
					{% endif %}
				</a>
			</div>

			<div id="content">
			<div id="page-header">
				{% if page.permalink %}
					<a href="{{site.url}}/{{page.permalink}}">
				{% else %}	
					<a href="{{page.url}}">
				{% endif %}
					<h1>{{page.header}}</h1>
				</a>
			</div>