<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="{{site.url}}/site.css">
		<link rel="shortcut icon" type="image/x-icon" href="{{site.url}}/assets/favicon.ico" />
	</head>
	<body>
		
		<div id="container">
			<div id="header_line"></div>
			<div id="sidebar">
				<a href="{{site.url}}/index.html"><img src="{{site.url}}/assets/web_logo.png" alt="" height="32" width="32" id="site-logo"></a>
				<a class="sb_text" href="{{site.url}}/index.html">
					{% if page.type == "me" %}
						<b>me</b>
					{% else %}
						me
					{% endif %}
				</a>
				<a class="sb_text" href="{{site.url}}/projects.html">
					{% if page.type == "projects" %}
						<b>projects</b>
					{% else %}
						projects
					{% endif %}
				</a>
				<a class="sb_text" href="{{site.url}}/thoughts.html">
					{% if page.type == "thoughts" %}
						<b>thoughts</b>
					{% else %}
						thoughts
					{% endif %}
				</a>
			</div>

			<div id="content">	